extends ../layout.pug
include ../../modules/main-menu/main-menu
include ../../modules/common/footer/footer

block page
    .page-inner
        .video-board
            iframe(
                id="video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/ZRPpCqXYoos?autoplay=0&enablejsapi=1"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen)
        .art-board.art-board--blog-page
            .art-board-header
                .art-board-header__inner
                    a(href="#").art-board-header__logo
                        img(src="./../../assets/logo.png")
                    +main-menu
            .art-board__wrapper
                h1.art-board__title Нововведения 2020
                .art-board-bottom
                    .art-board__info
                        | Мы производим презентационные, имиджевые и анимационные видеоролики, для бизнеса.
            a(href="#").art-board__arrow
                img(src="./../../assets/arrow_white.gif")
        .page-inner__wrapper
            .page-inner__topic
                | Каждый год мы анализируем свой опыт и реагируем на него использованием новых практик, правил, введением новых услуг. Прошедший год не стал исключением. Он был сложным, но мы поработали плодотворно и достойно. Наступает новый этап жизни «Облака», и можно смело сказать, что мы повзрослели, стали сильнее и от этого не менее амбициознее.
            h2 Корректировка позиционирования
            p
                | В 2020 год мы входим с осознанием того, что спектр наших возможностей уже давно превысил просто производство видео. Мы уже помогаем нашим клиентам, как креативное агентство, и занимаемся продвижением видеороликов в соцсетях. В этом году мы ещё больше расширяем комплексность своих услуг, добавляя разработку стратегии видеомаркетинга.
            blockquote
                p
                    | Мы больше, чем продакшн. <br>Мы — студия видеомаркетинга
            h2 Корректировка позиционирования
            ul
                li
                    strong Стратегия видеомаркетинга
            p
                | В 2020 год мы входим с осознанием того, что спектр наших возможностей уже давно превысил просто производство видео. Мы уже помогаем нашим клиентам, как креативное агентство, и занимаемся продвижением видеороликов в соцсетях. В этом году мы ещё больше расширяем комплексность своих услуг, добавляя разработку стратегии видеомаркетинга.
        .page-inner__extra-info
            | Если у вас остались вопросы или возникли какие-либо предложения, пишите на почту :) <br><br>
            | info@oblako.video
        .page-inner-navigation
            a(href="#").page-inner-navigation__link.page-inner-navigation__back
                span назад
                | Зачем выходит продюсер
            a(href="#").page-inner-navigation__link.page-inner-navigation__next
                span вперед
                | Сколько стоит рекламный ролик?
    +footer
    script(src='./index.js')